body {
  margin: 10;
  font-family: Arial, Helvetica, sans-serif;
}

.links {
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
}

.links a {
  font-size: 27px;
  padding-left: 10px;
  padding-right: 10px;
  color: #333;
}

.main {
  margin-right: 50px;
  margin-left: 50px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.main a {
  color:black;
  text-decoration: none;
}

.main h1 {
  font-size: 70px;
}

.main p {
  text-align: justify;
}

#home {
  background-color: yellow;
  height: 1000px;
}

#articlesPage {
  background-color: green;
  height: 1000px;
}

#projectsPage {
  background-color: blue;
  height: 1000px;
}
